<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="MktCampanas" connectionString="Data Source=10.59.110.101;Initial Catalog=Mtk_Campanias;Persist Security Info=True;User Id=Bill_to;Password=S4t3#mp*01;MultipleActiveResultSets=True; Connection Timeout=300;" providerName="System.Data.SqlClient" />-->
    <add name="MktCampanas" connectionString="Data Source=10.104.175.154\GOVDEV16;Initial Catalog=Mtk_Campanias;Persist Security Info=True;User Id=Bill_to;Password=S4t3#mp*01;MultipleActiveResultSets=True; Connection Timeout=300;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SiteURL" value="SiteURL"/>
    <add key="UsuarioSharePoint" value="UsuarioSharePoint" />
    <add key="PasswordSharePoint" value="PasswordSharePoint" />
    <add key="ListaFlujoCronograma" value="ListaFlujoCronograma"/>
    <add key="ClaveCampania" value="ClaveCampania"/>
    <add key="IdCampania" value="IdCampania"/>
    <add key="NombreCampania" value="NombreCampania"/>
    <add key="MailResponsable" value="MailResponsable"/>
    <add key="MailResponsable2" value="MailResponsable2"/>
    <add key="FechaInicio" value="FechaInicio"/>
    <add key="FechaFin" value="FechaFin"/>
    <add key="IDTarea" value="IDTarea"/>
    <add key="TxtTarea" value="TxtTarea"/>
    <add key="TipoFlujo" value="TipoFlujo"/>
    <add key="IdDependiente" value="IdDependiente"/>
    <add key="Timer" value="Timer"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>